/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
}
#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}
.far,
.fab,
.animate-icons {
  animation-name: crazy-colors;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
footer svg {
  display: inline;
}
a:nth-of-type(1) .animate-icons {
  animation-delay: 0.2s;
  animation-direction: reverse;
}
a:nth-of-type(2) .animate-icons {
  animation-delay: 0.4s;
}
a:nth-of-type(4) .animate-icons {
  animation-delay: 0.5s;
}
a:nth-of-type(5) .animate-icons {
  animation-delay: 0.8s;
}
@keyframes crazy-colors {
  0% {
    color: peru;
  }
  33% {
    color: fuchsia;
  }
  66% {
    color: blueviolet;
  }
  100% {
    color: peru;
  }
}
.social {
  background-color: aqua;
}
.social button {
  transition: all ease-in-out 500ms;
}
.social button:hover {
  transform: scale(1.2);
}
.prose img {
  margin: 0rem auto;
}
img + em {
  font-family: monospace;
  font-size: 0.8rem;
  color: #ccc;
}
@media all and (min-width: 700px) {
  img + em {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -160%);
  }
}
