/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: rgb(209 213 219);
}
#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

.styled-scrollbars {
  /* Foreground, Background */
  scrollbar-color: rgba(55, 65, 81) rgb(209 213 219);
}
.styled-scrollbars::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
.styled-scrollbars::-webkit-scrollbar-thumb {
  /* Foreground */
  background: rgba(55, 65, 81);
}
.styled-scrollbars::-webkit-scrollbar-track {
  /* Background */
  background: rgb(209 213 219);
}
.far,
.fab,
.animate-icons {
  color: salmon;
  /* animation-name: crazy-colors;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; */
}

.animate-icons:hover {
  animation-name: crazy-colors;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
footer svg {
  display: inline;
}

/* a:nth-of-type(1) .animate-icons {
  animation-delay: 0.2s;
  animation-direction: reverse;
}
a:nth-of-type(2) .animate-icons {
  animation-delay: 0.4s;
}
a:nth-of-type(4) .animate-icons {
  animation-delay: 0.5s;
}
a:nth-of-type(5) .animate-icons {
  animation-delay: 0.8s;
} */
@keyframes crazy-colors {
  0% {
    color: peru;
  }
  33% {
    color: salmon;
  }
  66% {
    color: deeppink;
  }
  100% {
    color: peru;
  }
}
.social {
  background-color: aqua;
}
.social button {
  transition: all ease-in-out 500ms;
}
.social button:hover {
  transform: scale(1.2);
}
.prose img {
  margin: 0rem auto;
}
img + em {
  font-family: monospace;
  font-size: 0.8rem;
  color: rgba(55,65,81,88);
}
.prose li {
  margin: 8px 0;
  font-family: monospace;
  font-size: 0.9rem;
}
@media all and (min-width: 700px) {
  img + em {
    /* position: absolute;
    left: 50%;
    transform: translate(-50%, -160%); */
  }
}
.prose {
  line-height: 1.4;
}
.prose code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  font: 1em / normal 'Roboto Mono', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas',
    'source-code-pro', monospace;
  font-size: 0.9em;
}
.prose code::before,
.prose code::after {
  content: '';
}
.prose h2 {
  margin-top: 1.5rem;
}
.scroll-down {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in 3s;
  transition: all 0.5s ease-in 3s;
}

.scroll-down {
  left: 50%;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid rgba(55, 65, 81);
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  transform: scale(1);
}

.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: '';
  border: 2px solid rgba(55, 65, 81);
  border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
